*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#parent{
   
    display: flex;
    flex-direction: row;
    text-align: center;
}
#c1{
    background-color: aqua;
    flex: 50%;
    font-size: 50px;
    padding: 10px;
}

#c2{
    background-color: green;
    flex: 50%;
    font-size: 50px;
    padding: 10px;
}



#parent2{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid red;
   
}



#cb1{
    background-color: grey;
    text-align: center;
    flex: 75;
    font-size: 50px;
    padding: 10px;
    display: flex;
}




#rsd1{
    background-color: rebeccapurple;
    flex: 20%;
    font-size: 30px;
    padding: 10px;

}
#rsd2{
    background-color: yellow;
    flex: 20%;
    font-size: 30px;
    padding: 10px;
}
#rsd3{
    background-color: royalblue;
    flex: 20%;
    font-size: 30px;
    padding: 10px;
}




#cb2{
    background-color: darkblue;
    flex: 25%;
    font-size: 50px;
    padding: 10px;
}




@media screen and (max-width:600px){
    #parent{
        flex-direction: column;
    }
    #parent2{
        flex-direction: column;
        border: 1px solid hotpink;
    }
    
    #cb1{
        flex-direction: column;   
    
    }
}
